{%- comment -%}
  Eg:
  Shop[label_Hot][icon_las la-bell]
  Product[label_Hot]
  Blog[icon_las la-bell]
{%- endcomment -%}

{%- assign arrlt = title | split: '[' -%}
{%- case arrlt.size -%}
  {%- when 1 -%}{%- assign icon = 'bee' -%}{%- assign label = 'bee' -%}
  {%- when 2 -%}{%- if arrlt[1] contains 'label_' -%}{%- assign icon = 'bee' -%}{%- assign label = arrlt[1] | remove:'label_' | remove:']' | strip -%}{%- else -%}{%- assign icon = arrlt[1] | remove:'icon_' | remove:']' | strip -%}{%- assign label = 'bee' -%}{%- endif -%}
  {%- else -%}{%- assign label = arrlt[1] | remove:'label_' | remove:']' | strip -%}{%- assign icon = arrlt[2] | remove:'icon_' | remove:']' | strip -%}
{%- endcase -%}
{%- if icon != 'bee' %}<i class="{{icon | downcase}}"></i>{% endif %}{{ arrlt[0] }}{% if label != 'bee' %}<span class="bee_lb_nav bee_lb_menu_{{label | handleize}}">{{label}}</span>{% endif -%}