[t4splitlz]
<div data-pin-wrapper data-t4s-scroll-me id="id_nt_t4s" class="t4s-lb__wrapper t4s-lb-pr-wrapper">
  <div class="t4s-lb-arrow"></div>
  <div class="t4s-lb__header">
     <span class="t4s-lb__title">{{ 'sections.lookbook.title.product' | t }}</span>
     <button data-pin-close aria-label="{{ 'general.aria.close' | t }}"><svg role="presentation" class="t4s-iconsvg-close" viewBox="0 0 16 14"><path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path></svg></button>
  </div>
  <div class="t4s-lb__content">
  code product lookbook {{product.title}}
  </div>
</div>
[t4splitlz]